<div class="center">
  <%= image_tag("heart.png", size: "30x30") %>
  <br>
  <br>
  Blood glucose simulator!
  <br>
  <br>
  <p> ------------------------------------- </p>
  <%= form_tag("/foods", method: "post") do %>
    <%= label_tag(:f, "Enter food eaten:") %>
    <%= text_field_tag(:f) %>
    <%= submit_tag("Submit") %>
  <% end %>
  <br>
  and/or
  <br>
  <br>
  <%= form_tag("/exercises", method: "post") do %>
    <%= label_tag(:e, "Enter exercise done:") %>
    <%= text_field_tag(:e) %>
    <%= submit_tag("Submit") %>
  <% end %>
  <p> ------------------------------------- </p>
  <%= link_to "Check out your daily graphs", graphs_path %>
</div>