<div class="center">
  <%= image_tag("heart.png", size: "30x30") %>
  <br>
  <br>
  Blood glucose simulator!
  <p> ------------------------------------- </p>
  <%= form_tag("/foods", method: "post") do %>
    <%= label_tag('food_name', "Enter food eaten:") %>
    <%= text_field_tag 'food[:name]', nil, :required => true %>
    <%= submit_tag("Submit") %>
  <% end %>
  <br>
  or
  <br>
  <br>
  <%= form_tag("/exercises", method: "post") do %>
    <%= label_tag('exercise_name', "Enter exercise done:") %>
    <%= text_field_tag 'exercise[:name]', nil, :required => true %>
    <%= submit_tag("Submit") %>
  <% end %>
  <p> ------------------------------------- </p>
  <%= link_to "Check out your daily graphs", graphs_path %>
</div>